@page "/Carrinho"

@using EcommerceAPI.Services.Interfaces;
@using EcommerceWeb.Model;
@using EcommerceWeb.Modals;
@using EcommerceWeb.Services.Interfaces;

@inject ICarrinhoService _carrinhoService
@inject NavigationManager _navigation


<head>
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" />
</head>


<body>
    @if (OnInitializeCompleted)
    {
        <section class="h-100 gradient-custom">
            <div class="container py-5">
                <div class="row d-flex justify-content-center my-4">
                    <div class="col-md-8">
                        <div class="card mb-4">
                            <div class="card-header py-3">
                                <h5 class="mb-0">Cart - @ListCarrinho.Count items</h5>
                            </div>
                            <div class="card-body">
                                <!-- Single item -->
                                <Virtualize Items="ListCarrinho" Context="item">

                                    <div class="row">
                                        <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                                            <!-- Image -->
                                            <div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
                                                <img src="@item.ImagemUrl"
                                                     class="w-100 h-100" alt="Blue Jeans Jacket" />
                                                <a href="#!">
                                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                                                </a>
                                            </div>
                                            <!-- Image -->
                                        </div>

                                        <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                                            <!-- Data -->
                                            <p><strong>@item.Nome</strong></p>
                                            <p>@item.Descricao</p>
                                            <p>Tamanho: @item.Tamanho</p>
                                            <button type="button" class="btn btn-danger btn-sm me-1 mb-2" data-mdb-toggle="tooltip"
                                                    title="Remove item" @onclick="(async () => await RemoveItem(item.Id))">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                            <button @onclick="() => EditCartProduct(item)" type="button" class="btn btn-primary btn-sm mb-2" data-mdb-toggle="tooltip"
                                                    title="Move to the wish list">
                                                <i class="fas fa-edit"></i>
                                            </button>
                                            <!-- Data -->
                                        </div>

                                        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                                            <!-- Quantity -->
                                            <div class="d-flex mb-4" style="max-width: 300px">
                                                <button class="btn btn-primary px-3 me-2" style="height:40px;"
                                                        @onclick="() => Decrement(item)">
                                                    <i class="fas fa-minus"></i>
                                                </button>

                                                <div class="form-outline">
                                                    <input id="form1" min="1" name="quantity" type="number" @bind="item.Quantidade" disabled class="form-control" />
                                                    <label class="form-label" for="form1">Quantity</label>
                                                </div>

                                                <button class="btn btn-primary px-3 ms-2" style="height:40px;"
                                                        @onclick="() => Increment(item)">
                                                    <i class="fas fa-plus"></i>
                                                </button>
                                            </div>
                                            <!-- Quantity -->
                                            <!-- Price -->
                                            <p class="text-start text-md-center">
                                                <strong>@((item.Preco * item.Quantidade).ToString("C2")) </strong>
                                            </p>
                                            <!-- Price -->
                                        </div>
                                    </div>
                                    <!-- Single item -->

                                    <hr class="my-4" />

                                </Virtualize>

                                <!-- Single item -->
                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-body">
                                <p><strong>Expected shipping delivery</strong></p>
                                <p class="mb-0">12.10.2020 - 14.10.2020</p>
                            </div>
                        </div>
                        <div class="card mb-4 mb-lg-0">
                            <div class="card-body">
                                <p><strong>We accept</strong></p>
                                <img class="me-2" width="45px"
                                     src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/visa.svg"
                                     alt="Visa" />
                                <img class="me-2" width="45px"
                                     src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/amex.svg"
                                     alt="American Express" />
                                <img class="me-2" width="45px"
                                     src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/mastercard.svg"
                                     alt="Mastercard" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <div class="card-header py-3">
                                <h5 class="mb-0">Súmario</h5>
                            </div>
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                        Frete
                                        <span>Gratis</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                                        <div>
                                            <strong>Total da compra</strong>
                                        </div>
                                        <span><strong>@ValorTotal</strong></span>
                                    </li>
                                </ul>

                                <button type="button" @onclick="GoCheckout" disabled="@(IsDisabled is false)" class="btn btn-primary btn-lg btn-block">
                                    Go to checkout
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
</body>


@code {
    public List<CarrinhoDeCompraViewModel> ListCarrinho { get; set; }
    CarrinhoDeCompraViewModel viewModel { get; set; } = new();
    public bool OnInitializeCompleted { get; set; } = false;
    public bool IsUpdate { get; set; } = false;
    public string ValorTotal;
    public bool IsDisabled;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
    }
    void DisabledCheckout()
    {
        IsDisabled = ListCarrinho.Count > 0;
    }
    protected override async Task OnInitializedAsync()
    {
        await GetAllCarrinho();

        CalcularValorTotal();

        OnInitializeCompleted = true;
    }
    public async Task Increment(CarrinhoDeCompraViewModel vm)
    {
        vm.Quantidade++;
        await _carrinhoService.EditCarrinhoQuantidade(vm);

        await GetAllCarrinho();
        CalcularValorTotal();
    } 
    public async Task Decrement(CarrinhoDeCompraViewModel vm)
    {
        vm.Quantidade--;
        await _carrinhoService.EditCarrinhoQuantidade(vm);
        await GetAllCarrinho();

        CalcularValorTotal();
    }
    public async Task GetAllCarrinho()
    {
        ListCarrinho = await _carrinhoService.GetAllCarrinho();
        DisabledCheckout();

    }
    public void EditCartProduct(CarrinhoDeCompraViewModel carrinho)
    {
        IsUpdate = true;
        _navigation.NavigateTo($"/details/productCart/{carrinho.ProdutoId}");

    }
    public async Task RemoveItem(int id)
    {
        await _carrinhoService.DeleteItemCarrinho(id);

        await GetAllCarrinho();
        CalcularValorTotal();

        StateHasChanged();
    }
    void CalcularValorTotal()
    {
        ValorTotal = viewModel.CalcularTotalCompra(ListCarrinho);
    }
    void GoCheckout()
    {
        _navigation.NavigateTo("pagamento");
    }
}
